@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    transition: background 0.2s linear;
    color: white;
    background: url(imagens/BG-Gerador-NTN.png) center center;
    background-color: #1E1E1E;
}
:root{
    --red-white-linhas: rgb(233, 21, 21);
    --red-white-neon: rgb(255, 255, 255);

    --lightblue-white-linhas: rgb(37, 205, 235);
    --lightblue-white-neon: rgb(255, 255, 255);

    --red-yellow-linhas: rgb(233, 21, 21);
    --red-yellow-neon: rgb(252, 247, 0);

    --red-red-linhas: rgb(233, 21, 21);
    --red-red-neon: rgb(233, 21, 21);
}
.button{
    background-color: #1E1E1E;
    color: white;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 100vh;
    padding: 5px 15px;
    transition: 0.25s;
}
.container{
    max-width: 1440px;
    display: grid;
    padding: 0 15px;
    justify-items: center;
    &-main{
        gap: 80px;
        // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-template-columns: 15fr 22fr;
    }
    @media (max-width: 1470px){
        grid-template-columns: 1fr;
        padding: 0 30px;
    }
}
.dados{
    gap: 10px;

    @media (max-width: 1470px){
        justify-content: center;
    }
    .div-linha{
        @media (max-width: 540px){
            max-width: 100%;
        }
    }
}
.box{
    position: relative;
    top: 0;
    box-sizing:content-box;
    aspect-ratio: 834/550;
    // overflow: hidden;
    background: url(imagens/Oceano.png);
    z-index: 5;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(8, 8, 23, 0.9);
    }
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(imagens/SMOKE.png);
        opacity: 7%;
    }
}
.titulo{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.8rem;
    text-align: center;
}
.topo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-bottom: 80px;
    #condicaoLabel{
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        span{
            font-size: 1.7rem;
            font-weight: 700;
            font-style: italic;
        }
        #select{
            position: relative;
            width: 60%;
            height: auto;
        }
        select{
            appearance: none;
            padding: 10px 20px;
            border: 3px solid #FFFFFF;
            border-radius: 50px;
            font-size: 1.1rem;
            padding-right: 40px;
            cursor: pointer;
        }
        #arrow-select{
            position: absolute;
            top: 50%;
            right: -15px;
            border: solid white;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 4px;
            transform: rotate(45deg) translateY(-100%);
            -webkit-transform: rotate(45deg) translateY(-100%);
        }
    }
    .div-mandante-visitante{
        display: flex;
        gap: 37px;
    }
    .button-mando{
        position: relative;
        span{
            position: absolute;
            text-align: center;
            width: 100%;
            height: 60px;
            top: 14px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 1.15rem;
            pointer-events: none;
        }
        
        .radio-mando{
            appearance: none;
            width: 225px;
            height: 55px;
            border: 3px solid #FFFFFF;
            border-radius: 50px;
            cursor: pointer;
            &:hover{
                background-color: #27DD39;
            }
            &:checked{
                border: 3px solid #27DD39;
                background-color: #27DD39;
            }
        }
    }
}
.row{
    margin: 0;
}
.top-linha{
    display: flex;
    gap: 5px;
    margin-bottom: 7px;
    align-items: flex-end;
    label{
        font-style: italic;
        font-weight: 700;
        font-size: 18px;
        margin: 0;
    }
}
.txtInput{
    width: 500px;
}
.buttonIcon{
    appearance: none;
    background:none;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover{
        scale: 1.2;
    }
    &:focus{
        outline: none;
        filter: drop-shadow(0px 0px 3px #27DD39);
    }
}
.gerado{
    outline: 3px solid white;
    box-shadow: 0px 0px 10px 4px #FFFFFF;
    width: 791px;
    height: 521px;
}
.parte{
    position: absolute;
    width: 100%;
    height: 393px;
    margin-top: 126px;
    background-color: rgb(24, 83, 0);
    z-index: 100;
    background: url(imagens/BORDER\ NEON\ SÓ\ O\ BRANCO.png)no-repeat center center;
    background-size: cover;
    h2{
        text-align: center;
        font-weight: 300;
        width: 473px;
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
    }
    h4{
        text-align: center;
        font-weight: 300;
        font-size: 22px;
        width: 286px;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .nomeTimeCima{
        text-align: center;
        font-weight: 300;
        font-size: 30px;
        width: 266px;
        position: absolute;
        top: 10px;
        left: -228px;
        
        &.nomeTimeCimaBaixo{
            top: 65px;
            font-weight: 400;   
        }
    }
    .imagemTime{
        position: absolute;
        top: 110px;
        left: -168px;
        width: 145px !important;
        height: auto !important;
    }
    .picture__img {
        max-width: 100%;
    }
}
.tabela{
    box-sizing: content-box;
    position: absolute;
    right: 0;
    margin-right: 59px;
    margin-top: -2px;
    width: 66%;
    height: 85%;
    background-color: rgba(33, 33, 38, 0.95);
    border: 6px solid white;
    border-radius: 5px;
    outline:none;
    .linha-tabela{
        box-sizing: border-box;
        width: 100%;
        height: 56px;
        border-bottom: 2px solid white;
        display: flex;
        align-items: center;
        overflow: hidden;
        img{
            position: absolute;
            left: 27px;
            transform: translateX(-50%);
        }
        span{
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 20px;
            margin-left: 56px;
        }
    }
    h1, h2, #nomeTimeCima, h4, h5, h6, span{
        color: white !important;
    }
}
.listras{
    position: absolute;
    width: 100%;
    background-blend-mode: multiply;
    .listra.maior{
        position: absolute;
        right: 0;
        width: 771px;
        height: 56px;
        background-blend-mode: multiply;
    }
    .listra.menor{
        position: absolute;
        left: 0;
        width: 16px;
        height: 56px;
        background-blend-mode: multiply;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: -58px;
            width: 100%;
            height: 110%;
            background: rgba(0, 0, 0, 0.4);
        }
        &.fundo:before{
            background: #131322;
            box-sizing: content-box;
            border-bottom: 5px solid white;
            z-index: 9;
        }
    }
    .um{
        margin-top: 4px;
    }
    .do{
        margin-top: 116px;
    }
    .tr{
        margin-top: 230px;
    }
    .qu{
        height: 62px !important;
        margin-top: 54px;
    }
    .ci{
        margin-top: 172px;
    }
    .se{
        margin-top: 284px;
    }
    z-index: -1;
}

// ============POPUP PAISES===============
.indisponivel{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
button.indisponivel{
    cursor: not-allowed !important;
}
.popupFull{
    display: none;
    background-color: #151515;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(imagens/BG-Gerador-NTN.png) center center;
        z-index: -10;
    }
    #cursordiv{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 50px;
        transform: translate(-50%, -50%);
        background: #27DD39;
        z-index: -11;
        border-radius: 100vh;
        box-shadow:
        0 0 20px 20px #27DD39,
        0 0 30px 30px #27DD39,
        0 0 50px 50px #27DD39;
    }
    &.popupPaises{
        padding: 95px 0;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999999;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    
    h2{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 2.8rem;
        text-align: center;
    }
    
.carousel {
    position: relative;
    width: 500px;
    height: auto;
    min-height: 210px !important;
    border-radius: 15px;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        border-radius: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(90deg, #151515 0%, #1515157e 15%, rgba(0, 0, 255, 0) 25%, #15151500 75%, #15151581 85%, #151515 100%);
        z-index: 5;
        border-left: 4px solid #27DD39;
        border-right: 4px solid #27DD39;
    }
    .confirm{
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        background-color: none;
        &:hover{
            background-color: #27DD39;
        }
    }
    &.paises{
        .button{
            width: 100%;
            border-radius: 0 0 15px 15px;
        }
    }
    &.premierLeague{
        position: relative;
        max-height: 300px;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s;
        .carousel-cell{
            background: url(imagens/Frame\ 1hexagono.svg) no-repeat center center;
            background-size: cover;
            width: 271px;
            height: auto;
            min-height: 300px;
            img{
                max-height: 300px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                padding-top: 70px;
                padding-bottom: 50px;
                width: auto;
            }
        }
    }
}
  
.carousel-cell {
    position: relative;
    width: 350px;
    height: auto;
    margin-right: 10px;
    background: #FFFFFF08;
    border-radius: 15px;
    counter-increment: carousel-cell;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
    }
}
.detalhesVerdes{
    position: absolute;
    width: 10px;
    top: -0;
    left: 0;
    height: 500px;
    background-color: #27DD39;
    box-shadow:
    0 0 40px 5px #27DD39,
    0 0 70px 20px #27DD39,
    0 0 100px 30px #27DD39;
    z-index: -12;
    transform: rotate(45deg);
    &#d4{
        left: 0;
        top: 100%;
        animation: bgGreenX 15s linear infinite;
    }
    &#d5{
        left: 100%;
        top: 0;
        animation: bgGreenY 15s linear infinite;
    }
    @keyframes bgGreenX {
        0%{
            left: 0;
            top: 120%;
            transform: rotate(0deg);
        }
        50%{
            top: -250px;
            transform: rotate(0deg);
            left: 0;
        }
        51%{
            transform: rotate(90deg);
        }
        52%{
            top: -250px;
        }
        100%{
            top: -250px;
            left: 200%;
            transform: rotate(90deg);
        }
    }
    @keyframes bgGreenY {
        0%{
            left: 100%;
            top: -80%;
            transform: rotate(0deg);
        }
        50%{
            top: 75%;
            transform: rotate(0deg);
            left: 100%;
        }
        51%{
            transform: rotate(90deg);
        }
        52%{
            top: 75%;
        }
        100%{
            top: 75%;
            left: -100%;
            transform: rotate(90deg);
        }
    }
}
  /* no circle */
.flickity-button {
    // background: none;
        z-index: 6;
  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
    width: 50px;
    height: 50px;
  }
  /* icon color */
  .flickity-button-icon {
    fill: black;
  }
}
.gerar-div{
    position: absolute;
    width: 100%;
    transform: translateY(100px);
    height: auto;
    &:before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: 1770px;
        height: 15px;
        background: url(imagens/Rectangle\ 20Diamond.svg) no-repeat center center;
        background-size: cover;
    }
}
.button.gerar{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 185px;
    height: 55px;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #27DD39;
    &:hover{
        background-color: #40f152;
        border-color: #27DD39;
    }

}
.save{
    margin-top: 200px;
}
.salvar{
    max-width: 1440px;
    display: grid;
    padding: 0 15px;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1470px){
        grid-template-columns: 1fr;
        padding: 0 30px;
    }
}
#como-salvar{
    width: 100%;
    height: auto;
    div{
        width: 100%;
        height: 333px;
        background-color: white;
        background: url(imagens/Frame\ 2Como\ Salvar.svg) no-repeat center center;
        background-size:contain;
    }
}
#boxPrint{
    margin-top: 120px;
    position: relative;
    width: 791px;
    height: 522px;
    canvas{
        outline: 3px solid white;
        box-shadow: 0px 0px 10px 4px #FFFFFF;
    }
    &::before{
        content: 'TABELA GERADA';
        position: absolute;
        top: -125px;
        left: 0;
        width: 100%;
        margin-top: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 2.8rem;
        text-align: center;
    }
}
#footer{
    margin-top: 150px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: auto;
    background-color: #151515;
    border-top: 2px solid #27DD39;
    h6{
        text-align: center;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        
        .creditos{
            width: 100%;
            height: auto;
            h5{
                font-weight: 400;
                font-size: 1rem;
                text-align: center;
            }
            ul{
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                li{
                    list-style-type: none;
                    a{
                        color: white;
                        text-decoration: none;
                        &:hover{
                            text-decoration: none;
                            color: #27DD39;
                        }
                    }
                }
            }
        }
    }
}